<div class="container">
    <div class="row justify-content-center">
      <div class="col-jg">
        <h2>welcome to <i class="fas fa-book"></i><strong>Bookers</strong> !!</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      In <i class="fas fa-book"></i><strong>Bookers,</strong>
    </div>
    <div class="row justify-content-center">
      you can share and exchange your opinions , inpressions , and emotions
    </div>
    <div class="row justify-content-center">
      about various books!
    </div>
</div>
